.element__button-heart {
  align-self: center;
  border: 0;
  background: #fff url(../../../images/Buttons/heart.svg) no-repeat center;
  width: 22px;
  height: 19px;
  margin-left: 10px;
}

.element__button-heart:hover {
  opacity: 0.5;
  cursor: pointer;
}
