.page {
  margin: 0 auto;
  padding: 0;
  background-color: #000;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Inter", "Arial", sans-serif;
}
