.element__button-delete {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
  width: 18px;
  height: 19px;
  background: url(../../../src/images/Buttons/Корзина.svg) no-repeat center;
}

.element__button-delete:hover {
  opacity: 0.5;
  cursor: pointer;
}
