.footer__copy-right {
  margin: 0;
  line-height: 22px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #545454;
}

@media screen and (max-width: 1100px) {
  .footer__copy-right {
    line-height: 17px;
    font-size: 14px;
  }
}
